BookStoreFinalV2/web/WEB-INF/wsdl/localhost_8080/PaymentServices/BankService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="BankService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/PaymentServices/BankService?xsd=1"/>
</xsd:schema>
</types>
<message name="checkAccount">
<part name="parameters" element="tns:checkAccount"/>
</message>
<message name="checkAccountResponse">
<part name="parameters" element="tns:checkAccountResponse"/>
</message>
<message name="payment">
<part name="parameters" element="tns:payment"/>
</message>
<message name="paymentResponse">
<part name="parameters" element="tns:paymentResponse"/>
</message>
<message name="checkBalance">
<part name="parameters" element="tns:checkBalance"/>
</message>
<message name="checkBalanceResponse">
<part name="parameters" element="tns:checkBalanceResponse"/>
</message>
<portType name="BankService">
<operation name="checkAccount">
<input wsam:Action="http://service/BankService/checkAccountRequest" message="tns:checkAccount"/>
<output wsam:Action="http://service/BankService/checkAccountResponse" message="tns:checkAccountResponse"/>
</operation>
<operation name="payment">
<input wsam:Action="http://service/BankService/paymentRequest" message="tns:payment"/>
<output wsam:Action="http://service/BankService/paymentResponse" message="tns:paymentResponse"/>
</operation>
<operation name="checkBalance">
<input wsam:Action="http://service/BankService/checkBalanceRequest" message="tns:checkBalance"/>
<output wsam:Action="http://service/BankService/checkBalanceResponse" message="tns:checkBalanceResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8080/PaymentServices/BankService"/>
</port>
</service>
</definitions>